@font-face {
  font-family: "FormaDJRBanner-Regular";
  src: url("../fonts/FormaDJRBanner-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNowDisplay-Regular";
  src: url("../fonts/HelveticaNowDisplay-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FKScreamerLegacyTrial";
  src: url("../fonts/FKScreamerLegacyTrial.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FormaDJRText-Regular";
  src: url("../fonts/FormaDJRText-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
