$primary: rgba(255, 255, 255, 1);
$secondary: rgba(255, 255, 255, 0.4);
$borderSecondary: rgba(255, 255, 255, 0.1);
$purple: rgba(88, 63, 155, 1);
$black: rgba(0, 0, 0, 1);
$grey: rgba(0, 0, 0, 0.4);
$graphite: rgba(79, 79, 79, 1);
